# Telegram Bot
BOT_TOKEN=8241844686:AAGDwRo1_4Y1HOW66kBgctz3iZHhuwlZAoc

# SendPulse API
SP_CLIENT_ID=sp_id_e8af980266ae85f3d965f6ffdd7dcc08
SP_CLIENT_SECRET=sp_sk_797e8465b9742be8c825ce93f7e7bb71

# SendPulse internal bot ID — узнать через GET /api/list-bots после первого деплоя
SP_BOT_ID=

# Flow IDs из SendPulse
SP_FLOW_PASSED_ID=69f0a8673bc1594a32012b5f
SP_FLOW_FAILED_ID=69f1ba6517cddfbd590e3b29
